/*.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional__name {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}

.additional__features {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.additional__features_title {
  text-align: left;
}

.additional__features_value {
  text-align: right;
}
*/
