@import "../variables.less";
@import "../mixins.less";

.additional {
  position: relative;

  @media @tablet {
    padding-bottom: 76px;
  }
}

.additional__container {
  padding: 0;

  @media @tablet {
    padding: 0 30px;
  }

  @media @desktop {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.additional__title {
  .content-title();
  position: relative;
  /*margin-left: -20px;*/
  padding-left: calc((100vw - @mobile-width)/2);

  @media @tablet {
    margin-top: 70px;
    margin-bottom: 75px;
    margin-left: 0;
    padding-left: calc((100vw - @tablet-width)/2);
    border: none;
  }

  @media @desktop {
    /*margin-left: -40px;*/
    padding-left: calc((100vw - @desktop-width)/2);
  }

  &::before {
    content: "";
    top: 50%; /* 64px */
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: @green;
    z-index: -1;

    @media @tablet {
      top: 50%; /* 91px*/
    }
  }
}

.additional__title-text {
  padding: 30px 19px;
  display: inline-block;
  background-color: @white;

  @media @tablet {
    padding: 0 38px;
  }
}

/*.additional__content {
  @media @desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}*/

.additional__list {
  .list-style();

  @media @desktop {
    margin-right: 80px;
    width: 895px;
  }
}

.additional__item {
  .bordered-top();
  padding: 25px 0;
  margin: 0 20px;

  @media @tablet {
    margin: 0;
    padding: 17px 37px 28px;
    border: 1px solid @gray;
  }

  @media @desktop {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: none;
    border-left: none;
  }

  &:not(:first-child) {
    @media @tablet {
      border-top: none;
    }
  }
}

.additional__wrapper {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.additional__name {
  .content-tagline();
  text-decoration: none;
  color: @black-light;

  @media @tablet {
    width: 50%;
  }

  @media @desktop {
    width: 325px;
  }
}

.additional__properties {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: @black-lighten;

  @media @tablet {
    font-size: 16px;
    line-height: 20px;
    width: 50%;
  }
}

.additional__feature {
  @media @tablet {
    margin-right: 50px;
    text-align: right;
    width: 223px;
  }

  @media @desktop {
    margin: 0;
    text-align: left;
    width: 242px;
  }
}

.additional__price {
  @media @tablet {
    text-align: right;
    width: 94px;
  }

  @media @desktop {
    text-align: left;
    width: 81px;
  }
}


.additional__button {
  @media @tablet {
    margin-top: 26px;
  }

  @media @desktop {
    margin: 0;
    width: 245px;
  }
}
