@import "../variables";
@import "../mixins";

.button {
  display: block;
  padding: 13px 20px;
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: @white;
  text-decoration: none;
  background-color: @green;
  .uppercase();

  &:hover,
  &:focus {
    background-color: @green-dark;
  }

  &:active {
    color: @main-white-30;
    background-color: @green-dark;
  }

  &_success {
    color: @gray-dark;
    background-color: @white-dark;

    &:hover,
    &:focus {
      background-color: @gray-lighten;
    }

    &:active {
      color: @main-gray-30;
      background-color: @gray-lighten;
    }
  }
}
