@import "../variables";

.button {
  display: block;
  padding: 13px 108px 12px 111px;
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: @upper;
  text-decoration: none;
  background-color: @main-green;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

.button_success {
  color: #444444;
  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }
}
