@import "../variables.less";
@import "../mixins.less";

.catalog {
  @media @tablet {
    padding-top: 60px;
  }
}

.catalog__title {
  .title();
  margin: 0;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .list-style();
}

.catalog__item {
  padding: 25px 20px;
  width: 320px;
  .bordered-top();

  @media @tablet {
    margin-top: 140px;
    padding: 165px 37px 40px;
    width: 324px;
    border: none;
    background-color: @gray-light;
  }

  @media @desktop {
    width: 245px;
  }

  &:nth-child(2n-1) {
    @media @tablet {
      margin-right: 60px;
    }
  }

  &:not(:nth-child(4n)) {
    @media @desktop {
      margin-right: 80px;
    }
  }
}

.catalog__show-more {
  padding: 80px 20px 25px;
  width: 320px;
  text-align: center;
  .bordered-top();

  @media @tablet {
    margin-top: 140px;
    padding: 178px 38px 40px;
    width: 324px;
    border: 1px solid @gray-lighten;
    background: none;
  }

  @media @desktop {
    width: 245px;
  }
}

.catalog__display {
  margin: 0;
  .content-tagline();
}

.catalog__text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: @black-lighten;

  @media @tablet {
    margin-top: 28px;
    font-size: 16px;
  }
}

.catalog__button {
  margin-top: 20px;

  @media @tablet {
    margin-top: 85px;
  }
}

.catalog__tagline {
  .bordered-top();
  padding: 210px 80px 80px;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
  background: url("../img/icon-gift.svg") no-repeat center 65px, url("../img/gift-photo-mobile@1x.jpg") no-repeat center 20px;
  background-size: 56px 109px, 280px 289px;
}
