@import "../variables.less";
@import "../mixins.less";

.catalog-item__wrapper {
  display: flex;

  @media @tablet {
    display: block;
  }
}

.catalog-item__link {
  display: block;
  width: 50%;
}

.catalog-item__image {
  width: 100%;
  height: auto;

  @media @tablet {
    margin-top: -46px;
  }

  &_size-large {
    @media @tablet {
      margin-top: -73px;
    }
  }
}

.catalog-item__content {
  padding-top: 21px;
  width: 50%;
}

.catalog-item__title {
  .content-tagline();
  display: inline-block;
  padding-right: 44px;
  text-decoration: none;

  @media @tablet {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 0 50px;
  }

  @media @desktop {
    padding: 0 20px;
  }
}

.catalog-item__properties {
  margin-top: 12px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  color: @black-lighten;
  border-collapse: collapse;

  @media @tablet {
    margin-top: 22px;
    font-size: 16px;
  }
}

.catalog-item__row {
  @media @tablet {
    border-bottom: 1px solid @gray-dark;
  }
}

.catalog-item__feature {
  text-align: left;

  @media @tablet {
    padding: 6px 0;
  }
}

.catalog-item__value {
  text-align: right;

  @media @tablet {
    padding: 6px 0;
  }
}

.catalog-item__button {
  padding: 11px 20px;
  margin-top: -4px;

  @media @tablet {
    margin-top: 33px;
  }
}
