@import "../variables.less";
@import "../mixins.less";

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  color: @black-lighten;

  @media @tablet {
    display: inline-block;
    margin-right: 20px;
  }
}

.copyright {
  .bordered-top();
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media @tablet {
    padding: 0;
    border: 0 none;
  }

  svg {
    fill: @gray-darken;
  }

  &:hover,
  &:focus {
    svg {
      fill: @green;
    }
  }

  &:active {
    .copyright__text {
      color: @black-lighten-30;
    }

    svg {
      fill: @green;
      opacity: 0.3;
    }
  }
}
