@import "../variables.less";
@import "../mixins.less";

.example {
  padding: 15px 0 38px;
  background-color: @gray-light;

  @media @tablet {
    .bordered-top();
    padding: 50px 0 68px;
    background: none;
  }

  @media @desktop {
    padding: 60px 0 70px;
    border: 0 none;
    background: linear-gradient(transparent 30%, @gray-light 30%);
  }
}

.example__container {
  @media @desktop {
    display: flex;
  }
}

.example__column {
  @media @desktop {
    width: 570px;
  }
}

.example__title {
  .title();
  margin: 0;
}

.example__content {
  @media @tablet {
    margin-top: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  @media @desktop {
    margin-top: 140px;
    /*padding-right: 226px;*/
    width: 76%;
  }
}

.example__wrapper {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
  }

  @media @desktop {
    display: block;
    margin-top: 0;
  }
}

.example__list {
  .list-style();
  margin-top: 27px;
  display: flex;
  justify-content: space-between;

  @media @tablet {
    margin-top: 0;
    width: 50%;
  }

  @media @desktop {
    margin-top: 70px;
    width: 65%;
  }
}

.example__item {
  width: 50%;

  &:nth-child(2n-1) {
    margin-right: 32px;
  }
}

.example__value {
  .content-title();
  .uppercase();
  padding: 15px 0;
  display: block;
  text-align: center;
  border: 1px solid @gray-dark;
  border-radius: 3px;

  @media @tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__parameter {
  margin: -10px 19px 0;
  padding: 0 15px;
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: @black-lighten;
  background-color: @gray-light;
  text-align: center;
  text-transform: lowercase;
  z-index: 2;

  &_weight {
    @media @tablet {
      margin: 0 24px;
    }
  }

  &_time {
    @media @tablet {
      margin: 0 10px;
    }
  }

  @media @tablet {
    margin-top: -7px;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }

  @media @desktop {
    margin-top: -8px;
    background-color: @gray-light;
  }
}

.example__tagline {
  .content-tagline();
  margin-top: 22px;
  font-size: 14px;
  text-align: center;

  &_text {
    @media @tablet {
      /*margin-top: 50px;*/
      display: block;
      text-align: right;
    }

    @media @desktop {
      margin-right: 64px;
      display: inline-block;
      text-align: left;
    }
  }

  &_price {
    @media @tablet {
      display: block;
      margin-top: 10px;
      text-align: right;
    }

    @media @desktop {
      display: inline-block;
      text-align: left;
    }
  }

  @media @desktop {
    margin-top: 50px;
    text-align: left;
  }
}

.example__slider {
  position: relative;

  @media @desktop {
    width: 650px;
  }
}

.example__state {
  .content-tagline();
  display: flex;
  justify-content: space-between;
  margin: 0 44px 0 39px;

  &_before,
  &_after {
    display: inline-block;
    padding-bottom: 5px;
    border: 1px solid transparent;

    @media @tablet {
      border-bottom: 1px dotted @gray;
    }

    &:hover,
    &:focus {
      @media @tablet {
        border-bottom: 1px solid @black-40;
      }
    }

    &:active {
      @media @tablet {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.example__range_line {
  position: absolute;
  top: 3px;
  left: 93px;
  width: 84px;
  height: 14px;
  border: 1px solid @gray-dark;
  background-color: @white;
  border-radius: 6px;

  @media @tablet {
    top: 8px;
    left: 134px;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    border: 0 none;
    background-color: @white-dark;
  }
}

.example__range_toggle {
  position: absolute;
  top: 7px;
  left: 98px;
  width: 35px;
  height: 6px;
  background-color: @green;
  border-radius: 3px;

  @media @tablet {
    top: -5px;
    left: 350px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid @gray-dark;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: @white;
  }

  &::before {
    @media @tablet {
      content: "";
      position: absolute;
      top: 11px;
      left: 11px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @green;
    }
  }

  &:hover,
  &:focus {
    @media @tablet {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &:active {
    &::before {
      @media @tablet {
        top: 10px;
        left: 10px;
      }
    }

    @media @tablet {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid @green;
    }
  }
}
