@import "../variables.less";
@import "../mixins.less";

.form-control {
  &:not(:first-child) {
    margin-top: 28px;

    @media @tablet {
      margin-top: 54px;
    }
  }

  &_checkbox {
    &:not(:first-child) {
      margin-top: 28px;

      @media @desktop {
        margin: 0;
      }
    }

    @media @tablet {
      margin-top: 54px;
      width: 50%;
    }

    @media @desktop {
      margin: 0;
      width: 25%;
    }

    &:nth-child(2n) {
      @media @tablet {
        padding-left: 30px;
      }
    }
  }
}

.form-control__label {
  position: relative;
  padding-left: 49px;

  &_radio {
    &::before {
      position: absolute;
      top: -4px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid @gray-dark;
      border-radius: 50%;
      content: "";
    }
  }

  &_checkbox {
    &::before {
      position: absolute;
      top: -4px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid @gray-dark;
      content: "";

      @media @tablet {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.form-control__checkbox:checked + .form-control__label_checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat 4px 5px;
  background-size: 22px 17px;
}

.form-control__radio:checked + .form-control__label_radio::after {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: @green;
  border-radius: 50%;
  content: "";
}
