@import "../variables.less";
@import "../mixins.less";

.input {
  .form-label();
  width: 100%;
  padding: 13px 16px;
  color: @black-lighten;
  border: 1px solid @gray-dark-50;

  @media @tablet {
    padding: 10px 20px;
  }
}
