@import "../variables.less";
@import "../mixins.less";

.input {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 15px 16px;
  .form-label();
  color: @black-lighten;
  border: 1px solid @gray-dark-50;
}
