@import "../mixins";
@import "../variables";

.intro__title {
  font-family: @main-font;
  font-size: 36px;
  line-height: 70px;
  color: @main-black;
}

.intro__list {
  .list-style();
}

.intro__item {
  margin: 0;
  padding: 0;
  .content();
}
