@import "../mixins.less";
@import "../variables.less";

.intro {
  padding-top: 12px;
  padding-bottom: 47px;

  @media @tablet {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.intro__title {
  margin: 0;
  .title();
}

.intro__list {
  .list-style();
  margin-top: 30px;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
}

.intro__item {
  position: relative;
  margin: 0;
  padding: 3px 0 3px 80px;
  .content();

  @media @tablet {
    padding: 113px 78px 135px 0;
    width: 324px;
    font-size: 16px;
    line-height: 24px;
  }

  @media @desktop {
    padding: 113px 0 50px;
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }

  &:not(:first-child) {
    margin-top: 20px;

    @media @tablet {
      margin-top: 0;
    }
  }

  &:nth-child(2n-1) {
    @media @tablet {
      margin-right: 60px;
    }
  }

  &:not(:nth-child(4n)) {
    @media @desktop {
      margin-right: 60px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: @green;

    @media @tablet {
      width: 80px;
      height: 80px;
      background-position: 15px 15px;
    }
  }

  &::after {
    @media @tablet {
      position: absolute;
      top: 90px;
      font-family: @main-font;
      font-size: 281px;
      color: @gray-light;
      z-index: -1;
    }
  }

  &_structure {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }

    &::after {
      @media @tablet {
        content: "1";
        left: 126px;
      }
    }
  }

  &_cooking {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }

    &::after {
      @media @tablet {
        content: "2";
        left: 122px;
      }
    }
  }

  &_replace {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }

    &::after {
      @media @tablet {
        content: "3";
        left: 124px;
      }
    }
  }

  &_result {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }

    &::after {
      @media @tablet {
        content: "4";
        left: 125px;
      }
    }
  }
}
