@import "../mixins.less";
@import "../variables.less";

.intro {
  padding: 12px 20px 47px;
}

.intro__title {
  margin: 0;
  .title();
}

.intro__list {
  .list-style();
  padding-left: 80px;
}

.intro__item {
  margin: 0;
  padding: 0;
  .content();
}
