@import "../mixins";

.main-nav {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: @upper;
}

.main-nav__list {
  .list-style();
}

.main-nav__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: @main-font;
  color: @main-black;
  text-decoration: none;
  .bordered-top();

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &_active {
    &:hover,
    &:focus,
    &:active {
      color: @main-black;
    }
  }
}
