@import "../variables.less";
@import "../mixins.less";

.page-footer {
  background-color: @gray-light;
}

.page-footer__container {
  padding-top: 40px;
  padding-bottom: 22px;

  @media @tablet {
    padding-top: 46px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media @desktop {
    padding-top: 50px;
  }
}

.page-footer__logo {
  display: block;
  padding: 0 76px 27px;

  @media @tablet {
    margin-top: 4px;
    margin-left: 1px;
    padding: 0;
  }

  &:not(&_active) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
