@import "../variables.less";
@import "../mixins.less";

.page-header {
  position: relative;

  @media @desktop {
    background: linear-gradient(to right, @white 50%, @green 50%);
  }

  .container {
    @media @tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-header__logo {
  display: block;
  padding: 11px 0 13px;
}
