@import "../variables";
@import "../mixins";

.programs {
  padding: 0 20px 20px 20px;
}

.programs__list {
  .list-style();
}

.programs__item {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: @gray-light;
}

.programs__title {
  margin: 0;
  padding-left: 70px;
  font-family: @main-font;
  font-size: 24px;
  line-height: 37px;
  color: @black;
  .uppercase();
}

.programs__text {
  margin-top: 35px;
  margin-bottom: 0;
}

.programs__wrapper {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid @black; /*не могу понять какой там цвет, временно черный*/
}

.programs__button {
  display: inline-block;
  font-family: @main-font;
  line-height: 16px;
  color: @black;
  text-decoration: none;
  .uppercase();

  &:active {
    color: @black-30;
  }
}
