@import "../variables.less";
@import "../mixins.less";

.programs__list {
  .list-style();

  @media @desktop {
    display: flex;
  }
}

.programs__item {
  margin-top: 20px;
  padding: 30px 20px 20px;
  background-color: @gray-light;

  @media @tablet {
    padding: 80px 280px 60px 52px;
  }

  @media @desktop {
    padding: 80px 52px 60px;
  }

  &:not(:first-child) {
    @media @desktop {
      margin-left: 80px;
    }
  }
}

.programs__title {
  margin: 0;
  padding-left: 70px;
  font-family: @main-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;
  .uppercase();

  @media @tablet {
    padding: 0;
    font-size: 36px;
    line-height: 37px;
  }
}

.programs__text {
  margin-top: 35px;
  margin-bottom: 0;
}

.programs__wrapper {
  margin-top: 20px;
  padding-top: 20px;
  .bordered-top();

  @media @tablet {
    border: none;
  }
}

.programs__button {
  display: inline-block;
  font-family: @main-font;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-decoration: none;
  .uppercase();

  &:active {
    color: @black-30;
  }
}
