@import "../variables.less";
@import "../mixins.less";

.promo {
  .bordered-top();
  text-align: center;
  background: linear-gradient(to bottom, @bg-green 64%, @white 64%);

  @media @tablet {
    padding-top: 60px;
    padding-bottom: 530px;
    text-align: left;
    border: 0 none;
    background: none;
  }

  @media @desktop {
    padding-top: 110px;
    padding-bottom: 180px;
    background: linear-gradient(to right, @white 50%, @bg-green 50%);
  }
}

.promo__container {
  padding-top: 29px;
  position: relative;
  z-index: 3;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat 0 0;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media @tablet {
    padding: 0 120px;
    background: none;
  }

  &::before {
    position: absolute;
    content: "";
    top: 155px;
    left: 20px;
    width: 100%;
    height: 270px;
    background: url("../img/index-can-mobile@1x.png") no-repeat 0 0;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 280px auto;
    }

    @media @tablet {
      top: 195px;
      left: 30px;
      height: 609px;
      background-image: url("../img/index-can-tablet@1x.jpg");
      z-index: -1;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
        background-size: 709px auto;
      }
    }

    @media @desktop {
      top: -50px;
      left: 450px;
      width: 552px;
      height: 499px;
      z-index: 5;
      background-image: url("../img/index-can-desktop@1x.png");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: 552px auto;
      }
    }
  }
}

.promo__title {
  .title();
  line-height: 36px;
  color: @white;
  margin: 0;

  @media @tablet {
    max-width: 420px;
    .title();
  }
}

.promo__tagline {
  .uppercase();
  font-family: @main-font;
  line-height: 14px;
  color: @white;
  margin-top: 19px;
  margin-bottom: 0;

  @media @tablet {
    margin-top: 33px;
    font-size: 20px;
    line-height: 20px;
    color: @black;
  }
}

.promo__button {
  margin-top: 302px;
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 14px;

  @media @tablet {
    margin-top: 48px;
    width: 245px; /*46.4%*/
  }

  @media @desktop {
    margin-top: 53px;
  }
}
