@import "../variables.less";
@import "../mixins.less";

.promo {
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat 50% 50%;

  @media @tablet {
    text-align: left;
    /* Временно */
    background: none;
  }
}

.promo__title {
  .title();

  @media @mobile-only {
    line-height: 36px;
    color: @white;
  }
}

.promo__tagline {
  font-family: @main-font;
  line-height: 14px;
  color: @white;
  .uppercase();

  @media @tablet {
    font-size: 20px;
    line-height: 20px;
    color: @black;
  }
}

.promo__button {
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 14px;
}
