@import "../variables.less";
@import "../mixins.less";

.promo {
  .bordered-top();
  text-align: center;
  background: linear-gradient(to bottom, @bg-green 64%, @white 64%);

  @media @tablet {
    padding-top: 60px;
    text-align: left;
    border: 0 none;
    background: none;
  }

  @media @desktop {
    padding-top: 110px;
    background: linear-gradient(to right, @white 50%, @bg-green 50%);
  }
}

.promo__container {
  padding-top: 29px;
  position: relative;
  z-index: 5;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat 0 0;

  @media @tablet {
    padding: 0 120px;
    background: none;
  }
}

.promo__title {
  .title();
  line-height: 36px;
  color: @white;
  margin: 0;

  @media @tablet {
    max-width: 420px;
    .title();
  }
}

.promo__tagline {
  .uppercase();
  font-family: @main-font;
  line-height: 14px;
  color: @white;
  margin-top: 19px;
  margin-bottom: 0;

  @media @tablet {
    margin-top: 33px;
    font-size: 20px;
    line-height: 20px;
    color: @black;
  }
}

.promo__button {
  margin-top: 302px; /*TODO изменить после добавления картинки перед кнопкой*/
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 14px;

  @media @tablet {
    margin-top: 48px;
    width: 245px; /*46.4%*/
  }

  @media @desktop {
    margin-top: 53px;
  }
}
