
@import "../variables.less";
@import "../mixins.less";

.slider {
  margin-top: 40px;

  @media @desktop {
    margin-top: 0;
    padding-bottom: 68px;
  }
}

.slider__image {
  margin: 0 auto;
  position: relative;

  &_before,
  &_after {
    width: 311px;
    height: 232px;

    @media @tablet {
      width: calc(338px * 2);
      height: 499px;
    }
  }

  &_after {
    position: absolute;
    right: 0;
  }
}

.slider__controls {
  margin-top: 30px;
  padding-right: 25px;
  padding-left: 44px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  @media @tablet {
    padding-right: 70px;
    padding-left: 70px;
  }
}

.slider__state {
  .content-tagline();
  display: inline-block;
  padding: 0 0 5px;
  min-width: 50px;
  background: none;
  border: 1px solid transparent;

  @media @tablet {
    border-bottom: 1px dotted @gray;
  }

  &:hover,
  &:focus {
    @media @tablet {
      border-bottom: 1px solid @black-40;
    }
  }

  &:active {
    @media @tablet {
      border-bottom: 1px solid transparent;
    }
  }

  &_before {
    margin-right: 10px;

    @media @tablet {
      margin-right: 24px;
    }
  }

  &_after {
    margin-left: 18px;

    @media @tablet {
      margin-left: 21px;
    }
  }
}

.slider__range {
  position: relative;
  flex-grow: 1;
}

.slider__line {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 14px;
  border: 1px solid @gray-dark;
  background-color: @white;
  border-radius: 6px;

  @media @tablet {
    top: 8px;
    height: 6px;
    border-radius: 2.5px;
    border: 0 none;
    background-color: @white-dark;
  }
}

.slider__toggle {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 41%;
  height: 6px;
  background-color: @green;
  border-radius: 3px;
  cursor: pointer;

  @media @tablet {
    top: -5px;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid @gray-dark;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: @white;
  }

  &::before {
    @media @tablet {
      content: "";
      position: absolute;
      top: 11px;
      left: 11px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @green;
    }
  }

  &:hover,
  &:focus {
    @media @tablet {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &:active {
    &::before {
      @media @tablet {
        top: 10px;
        left: 10px;
      }
    }

    @media @tablet {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid @green;
    }
  }
}

.slider__picture {
  &_before {
    width: 50%;
    overflow: hidden;
    z-index: 2;

    @media @desktop {
      margin-top: -160px;
    }
  }

  &_after {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 50%;
    right: 0;
    overflow: hidden;
  }
}
