@main-font: "Oswald", "Arial", sans-serif;
@content-font: "Arial", sans-serif;
@green: #68b738;
@green-dark: #5eaa2f;
@black: #111111;
@black-light: #222222;
@gray-dark: #444444;
@gray-light: #ededed;
@gray-pinkish: #cdcdcd;
@gray-lighten: #ebebeb;
@error: #ff8282;
@white: #ffffff;
@white-dark: #f2f2f2;
@main-white-30: rgba(255, 255, 255, 0.3);
@main-black-60: rgba(17, 17, 17, 0.6);
@main-black-30: rgba(17, 17, 17, 0.3);
@black-34: rgba(34, 34, 34, 0.3);
@main-gray-30: rgba(68, 68, 68, 0.3);
